@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.navbar {
    align-items: center;
    border-bottom: 2px solid #6f01ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 20px 40px;
    background: rgb(9, 9, 75);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.navbar ul {
    display: flex;
    gap: 10px;
}

.navbar ul li>a {
    color: #e1e1e1;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px;
    font-size: .8em;
    font-weight: bold;
    background: #4f00b6;
    opacity: 1;
}

.navbar ul li:hover {
    opacity: 0.7;
}

.navbar h2 a {
    font-family: 'Rubik Glitch', cursive;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #6f01ff;
    opacity: 1;
}

.navbar .link-search {
    background: #000000;
}

li > a .bi-search {
    color: white;
    font-size: 1.2em;
}