.character-image-preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-image-preview>img {
    width: 250px;
}

/* Estilo padrão para os botões de rádio */
.input-radio {
    display: none;
    /* Oculta o botão de rádio padrão */
}

/* Estilo do rótulo dos botões de rádio */
.input-radio+label {
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background: yellow;
    cursor: pointer;
    color: black;
    width: 120px;
    text-align: center;
    font-weight: bold;
}

/* Estilo dos botões de rádio selecionados */
.input-radio:checked+label {
    background-color: #ff0000;
    color: #fff;
    border-color: #ff0000;
    font-weight: bold;
}

.races-render, .classes-render {
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
;}

.step-step {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    gap: 20px;
}

.step-step>div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.step-step>input {
    padding: 10px;
    border-radius: 5px;
}

.step-step>textarea {
    max-width: 768px;
    min-height: 25vh;
    padding: 10px;
    border-radius: 5px;
}

.step-step>div>.btn-step {
    cursor: pointer;
    border: none;
    width: 150px;
    justify-content: center;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.final-step {
    gap: 1;
}

.final-result {
    max-width: 100%;
}