@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Padrão */
    color: #000000;
    color: #ffffff;
    /* Secundária */
    color: #ff0000;
    color: #ffff00;
    color: #CED4DA;
    color: #333333;
}

body {
    background: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: auto;
}