.post-details {
  display: flex;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  flex-direction: column;
}

.post-details>div {
  gap: 20px;
  display: flex;
}

.post-details h1 {
  color: white;
}

.vertical-scroll {
  flex: 1;
  max-height: 500px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.description {
  color: white;
}

.post-image {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.post-link {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.post-link:hover {
  text-decoration: underline;
}

.post-date,
.post-by {
  font-style: italic;
  color: #555;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

.interactions {
  display: flex;
}

.post-interactions {
  display: flex;
  flex-direction: column;
}