.home {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

img {
    width: 220px;
    object-fit: cover;
    /* aspect-ratio: 6/8; */
}


.home div {
    width: 240px;
    border: 1px solid rgb(255, 255, 255);
}

.home div a {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home div h2 {
    background: #6f01ff;
    /* border: 1px solid rgb(255, 255, 255); */
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.home div p {
    font-size: 0.8em;
    max-width: 220px;
    max-height: 14vh;
    overflow: hidden;
    overflow-y: scroll
}

.home div p::-webkit-scrollbar{
    background: none;
    width: 6px;
  }
  
.home div p::-webkit-scrollbar-thumb{
    background: #6f01ff;
    border-radius: 10px;
  }