@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;;
}

:root{
    --color-0: #a80000;
    --color-1: #ff0000;
    --color-2: #858585;
    --color-3: #000000;
    --color-4: #412c4e;
}

.light{
    --color-0: #000958;
    --color-1: #0000bd;
    --color-2: #424242;
    --color-3: #ccc;
    --color-4: #dad8d8;
}

.container{
    align-items: center;
    background: var(--color-4);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    height: 100vh;
}

.container h1{
    color: var(--color-1);
}

#switch{
    background: var(--color-2);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 1;
    cursor: pointer;
}

.timer{
    color: var(--color-2);
    display: flex;
    font-size: 2.8em;
    font-weight: bold;
}

.time{
    color: var(--color-0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    min-width: 90px;
}

.separator{
    color: var(--color-2);
    padding: 0px 10px;
}

#milisseconds{
    color: var(--color-2);
    font-size: 0.8em;
}

.buttons{
    display: flex;
    gap: 10px;
}

.btn{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid var(--color-3);
    transition: all 0.2s ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}

#startBtn{
    color: var(--color-4);
    background: var(--color-1);
}

#pauseBtn, #resumeBtn{
    display: none;
}