.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.modal-content h2 {
    margin: 0;
    font-size: 24px;
}

.modal-content p {
    margin: 10px 0;
}

.modal-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background:#707070;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.modal-content button:hover {
    background-color: #a09a45;
}

.modal-content .qr-code-container {
    margin-bottom: 20px;
}

.modal-content .facebook {
    background: #365899;
}

.modal-content .twitter {
    background: #000000;
}

.modal-content .whatsapp {
    background: #25D366;
}

.modal-content .email {
    background: #D44638; /* Cor do botão de e-mail */
}