footer {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 0;
    background: black;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 900px;
}

.hr-footer {
    width: 100%;
    max-width: 900px;
    border-bottom: 1px solid #BABABA;
    margin: 20px 0;
}

footer>div>p {
    color: #000;
}

.links-associate {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.links-associate>p {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 0, 0);
    opacity: 0.6;
}

.links-associate>a {
    color: red;
    display: block;
    transition: opacity 0.3s;
    text-align: center;
}

.links-associate>a:hover {
    opacity: 0.5;
}

/* Estilos para o modo claro */
.light-mode footer {
    background: #CED4DA;
    /* Cor de fundo do footer no modo claro */
    color: #000000;
    /* Cor do texto no modo claro */
}

.light-mode .links-associate>a {
    color: #ff0000;
    /* Cor dos links no modo claro */
}

/* Estilos para o modo escuro */
.dark-mode footer {
    background: #000;
    /* Cor de fundo do footer no modo escuro */
    color: #ffffff;
    /* Cor do texto no modo escuro */
}

.dark-mode .links-associate>a {
    color: #ff0000;
    /* Cor dos links no modo escuro */
}

.dark-mode footer>div>p {
    color: yellow;
    /* Cor do texto no modo escuro */
}