.panel-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #353535;
    margin: auto;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    justify-content: center;
    min-height: 50vh;
}

.chat-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-message {
    color: rgb(252, 252, 252);
    background: rgb(110, 0, 0);
}

.bot-message {
    color: white;
    background: rgb(0, 0, 99);
}

.bot-message {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.bot-message.loaded {
    opacity: 1;
}

/* RESULTADO FINAL */
table {
    width: 100%;
}

tbody {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

tr {
    display: flex;
    gap: 10px;
}

th {
    border: 2px solid yellow;
    width: 100%;
    /* Alterado para ocupar a largura total */
    padding: 10px;
}

td {
    width: 100%;
    /* Alterado para ocupar a largura total */
    border: 2px solid black;
    padding: 10px;
}

/* VERSÃO do MOBILE */
@media screen and (max-width: 420px) {
    .panel-container {
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        background: #353535;
        margin: auto;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }

    .step-step {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 380px;
    }

    .step-step>h2 {
        font-size: 1.1em;
    }

    .step-step>input {
        display: flex;
        margin: auto;
        width: 300px;
    }

    .step-step>button {
        display: flex;
        margin: auto;
        width: 300px;
    }

    .step-step>div {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .step-step>div>.btn-step {
        width: 120px;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .render-step {
        max-width: 400px;
    }

    table {
        width: 100%;
    }

    th {
        width: 100%;
    }

    td {
        width: 100%;
    }
}