.link-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.add-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.add-links>div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.add-links>div input {
    border: 1px solid;
    border-radius: 10px;
    width: 445px;
    display: flex;
    padding: 10px;
}

.add-links>button {
    border: 1px solid black;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1em;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    display: flex;
    padding: 10px;
    transition: 0.3s;
}

.add-links>button:hover {
    transition: 0.3s;
}

.links-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.links-list>ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.links-list>ul li {
    /* background: #F9F9F9; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
}

.links-list>ul li a {
    border-bottom: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
}

.links-list>ul li a:hover {
    text-decoration: underline;
}

.links-list>ul li button {
    border: 1px solid;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1em;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    display: flex;
    padding: 10px;
    transition: 0.3s;
}

.links-list>ul li button:hover {
    transition: 0.3s;
}