* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /* Padrão */
    color: #000000;
    color: #ffffff;
    /* Secundária */
    color: #ff0000;
    color: #ffff00;
    color: #CED4DA;
    color: #333333;
}

.container {
    width: 1200px;
    margin: auto;
    /* min-height: 60vh; */
}

@media screen and (max-width: 420px) {
    .container {
        width: 400px;
    }
}