@charset "UTF-8";

:root{
    --cor-0: #112200;
    --cor-1: #366B00;
    --cor-2: #5BB800;
    --cor-3: #75EB00;
    --cor-4: #9BEE47;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    color: white;
    background-color: var(--cor-1);
}
.back-bg .res{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    color: var(--cor-4);
    background: var(--cor-1);
}

.back-bg{
    background-color: var(--cor-0);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 20px auto;
    padding: 60px 20px;
    justify-content: center;
}

.back-bg input{
    background:var(--cor-2);
    border: 2px solid var(--cor-0);
    border-radius: 5px;
    max-width: 50px;
    margin: 0px;
    padding: 10px;
}

.back-bg .n-item{
    color: var(--cor-0);
    display: block;
    background-color: var(--cor-4);
    border-radius: 5px;
    text-transform: uppercase;
    /* text-align: center; */
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
}

.action-bg{
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-4);
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
}

.action-bg input{
    color: var(--cor-0);
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px;
}

.action-item{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    width: 220px;
    margin: 0px auto;
    padding: 0px;
    justify-content: space-between;
}

.back-bg p{
    color: var(--cor-0);
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

#n1, #n2{
    color: var(--cor-4);
    background-color: var(--cor-1);
    justify-content: center;
    max-width: 100%;
    margin: 0px auto;
    /* padding: 10px 10px; */
}

.back-bg .res span{
    margin: 0px 5px;
}