.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Certifique-se de que o modal esteja acima de outros elementos */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    /* Tamanho máximo do modal */
    text-align: center;
}

.modal-actions {
    margin-top: 20px;
}

.modal-actions button {
    margin: 0 10px;
}