.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.user-card {
    margin: 20px 0;
    transition: transform 0.3s ease-in-out;
    /* Adiciona uma animação suave */
}

.user-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    width: 100px;
    /* Ajuste conforme necessário */
}

.carousel-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-controls button:hover {
    background-color: #0056b3;
}

.carousel-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}