.user-list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.light-mode .user-list-container h2 {
    color: black;
}

.dark-mode .user-list-container h2 {
    color: white;
}

.user-list-container ul {
    list-style: none;
    padding: 0;
}

.user-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.profile-picture {
    width: 40px;
    /* Ajuste o tamanho conforme necessário */
    height: 40px;
    /* Ajuste o tamanho conforme necessário */
    border-radius: 50%;
    margin-right: 10px;
    /* Espaçamento entre a imagem e o texto */
}

.placeholder-picture {
    width: 40px;
    /* Ajuste conforme necessário */
    height: 40px;
    /* Ajuste conforme necessário */
    border-radius: 50%;
    background-color: #e0e0e0;
    /* Cor de fundo para o placeholder */
    display: inline-block;
    margin-right: 10px;
    /* Espaçamento entre o placeholder e o texto */
}


.user-item a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.1rem;
}

.user-item a:hover {
    text-decoration: underline;
}