.user-list-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    gap: 20px;
    align-items: center;
}

.light-mode .user-list-container h2 {
    color: black;
}

.slick-slider {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 800px;
}

.slick-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 800px;
}

.slick-prev{
    left: -50px;
}

.slick-next{
    right: -50px;
}

.slick-next:before{
    display: flex;
}

.slick-prev,
.slick-next {
    width: 50px;
    /* Aumenta a largura das setas */
    height: 50px;
    /* Aumenta a altura das setas */
    z-index: 1;
}

.slick-prev::before,
.slick-next::before {
    font-size: 50px;
    display: flex;
}

.dark-mode .user-list-container h2 {
    color: white;
}

.light-mode .slick-prev::before {
    color: black;
}

.light-mode .slick-next::before {
    color: black;
}

.dark-mode .slick-prev::before {
    color: yellow;
}

.dark-mode .slick-next::before {
    color: yellow;
}

.user-item>div {
    max-width: 260px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-item a:hover {
    text-decoration: underline;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.placeholder-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #e0e0e0;
}

@media (max-width: 768px) {
    .user-item {
        padding: 5px;
    }

    .profile-picture,
    .placeholder-picture {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    .user-item {
        padding: 3px;
    }

    .profile-picture,
    .placeholder-picture {
        width: 60px;
        height: 60px;
    }
}