.user-list-container {
    padding: 20px;
    text-align: center;
}

.light-mode .user-list-container h2 {
    color: black;
}

.dark-mode .user-list-container h2 {
    color: white;
}

.user-item {
    display: flex;
    flex-direction: column;
    /* Muda para coluna para melhor layout */
    align-items: center;
    /* Centraliza os itens */
}

.profile-picture {
    width: 80px;
    /* Ajuste conforme necessário */
    height: 80px;
    /* Ajuste conforme necessário */
    border-radius: 50%;
    /* Para fazer a imagem circular */
}

.placeholder-picture {
    width: 80px;
    /* Ajuste conforme necessário */
    height: 80px;
    /* Ajuste conforme necessário */
    border-radius: 50%;
    background-color: #e0e0e0;
    /* Cor de fundo para o placeholder */
}