#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  background: #6c009e;
  color: white;
  cursor: pointer;
}

button:disabled {
  background: #3d0058;
  color: rgb(167, 165, 165);
  opacity: 0.8;
}