.posts-container {
    display: flex;
    gap: 16px;
}

.post-item {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: #CED4DA;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    flex-wrap: wrap;
}

.post-item:hover {
    transform: scale(1.05);
}

.post-item>.post-image {
    width: 250px;
    aspect-ratio: 4/4;
    object-fit: cover;
    padding: 10px;
}

.post-title {
    padding: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}