.developer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.developer h1 {
    color: #6f01ff;
    font-size: 2em;
    margin-bottom: 5px;
}

.developer select {
    background: #ccc;
    cursor: pointer;
    font-weight: bold;
    width: 400px;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 5px;
}

.developer select > option {
    color: #6f01ff;
    display: flex;
    text-transform: uppercase;
    font-size: 1em;
}