@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Cores para o modo claro */
    --bg-light: #F0F3F5;
    --text-light: #000000;
    --link-light: #007bff;

    /* Cores para o modo escuro */
    --bg-dark: #333333;
    --text-dark: #ffffff;
    --link-dark: #66b3ff;

    /* Cores secundárias */
    --red: #ff0000;
    --yellow: #ffff00;
    --grey: #CED4DA;
}

/* CSS Global */
body.light-mode {
    background-color: var(--bg-light);
    color: var(--text-light);
    font-family: Arial, Helvetica, sans-serif;
}

body.dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-dark);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    transition: background-color 0.3s, color 0.3s;
}

a {
    text-decoration: none;
    color: var(--link-light);
    /* Cor do link no modo claro */
}

body.dark-mode a {
    color: var(--link-dark);
    /* Cor do link no modo escuro */
}

.container {
    width: 900px;
    margin: 80px auto;
}