
.form {
    background: red;
    /* position: absolute; */
    padding: 10px;
}

.search-bar-md{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.search-bar-md img{
    width: 80px;
    height: 100%;
}

.search-bar-md input {
    border-radius: 5px;
    border: 2px solid #2600ff;
    background: #e1e1e1;
    font-weight: bold;
    width: 280px;
    padding: 10px 10px;
    outline: none;
}

.search-results-md {
    width: 280px;
    color: white;
    background: rgba(0, 0, 0, 0.733);
    margin-top: 50px;
    position: absolute;
    z-index: -7;
}

/* .search-results div > a:hover {
    overflow: hidden;
} */

.search-results-md div {
    margin: 10px 0;
}

.search-results-md div > a{
    display: flex;
}

.search-results-md div > a div {
    display: flex;
    flex-direction: column;
    margin: 0 5px ;
    /* transition: 1s; */
}

.search-results-md div > a div > p{
    font-size: 0.8em;
}

/* .search-results div > a div:hover{
    background: #6f01ff;
    overflow: hidden;
} */

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

/* .modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
} */

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}