/* BARRA DE PESQUISA */
.form-search {
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #6F01FF;
    border-radius: 5px;
}

.form-search input{
    font-weight: bold;
    max-width: 280px;
    padding: 10px;
    outline: none;
    border: none;
    box-shadow: 3px 3px 2px 0 #00000033;
}

#search-bar {
    border-radius: 5px 0px 0px 5px;
    background: #e1e1e1;
}

.btn-search {
    border-radius: 0px 5px 5px 0px;
    background: #3e008f;
    color: #ffffff;
    cursor: pointer;
    width: 80px;
    opacity: 1;
}

.btn-search:hover{
    opacity: 0.7;
}

/* RESULTADOS DA PESQUISA */
.search-results-md{
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.733);
    justify-content: center;
    padding: 10px;
    max-width: 100%;
    color: white;
    margin-top: 50px;
}

.search-results-md img{
    width: 220px;
}

.search-results-md div {
    margin: 10px 0;
}

.search-results-md div > a {
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: center;
    margin: 0 5px ;
}

.search-results-md div > a div {
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: center;
    margin: 0 5px ;
}

.search-results-md div > a h4{
    font-size: 1em;
}

.search-results-md div > a p{
    font-size: 0.8em;
}